.right-center-contents
  .text.contents
    .name-day
      .name
        %p
          = message.user.name
      .day
        %P
          = format_posted_time(message.created_at)
      .text-form
        - if message.content.present?
          %p.lower-message__content
            = message.content
        = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
