html{
  height: 100%;
}

body{
  height: 100%;
}

.wrapper{
  height: 100vh;
  width: 100vw;


  .left-contents{
    width: 300px;
    height: 100vh;
    background-color: $inner-color;
    float: left;

    .header-contents{
      height:140px;
      background-color: #253141;
      .textbox {
        padding-top:25px;
        float: left;
      }
      .icon.box {
        padding:25px 10px 0 0;
        float: right;
      }
    }




    .header-contents p{
      font-size: 16px;
      color: $text-color;
      padding-left:20px;
      margin:0;
    }
    .inner-contents{
      height: calc(100vh - 140px);
      background-color: $inner-color;
      .inner-text{
        padding: 20px 0 40px;
        background-color: $inner-color;

        .main-text p{
          font-size: 15px;
          color: $text-color;
        }
        .sub-text p{
          padding-top: 5px;
          font-size: 11px;
          color: $text-color;
        }
      }
    }
    .inner-contents p{
      margin:0;
      padding-left:20px;
    }
  }

  .right-contents{
      height: 100vh;
      width:  calc(100vw - 300px);
      float: right;
    .right-top-contents{
      height:140px;
      border-bottom:solid 1px #eeeeee;

      .btn{
        height: 40px;
        float:right;
        margin-right: 40px;
        padding: 0 20px 0;
        background-color: rgba(0, 0, 0, 0);
        border-color:#38AEF0;
        color: #38AEF0;
        font-size: 18px;
        margin-top: 25px;
      }
      .group-text{
        padding: 20px 0 0 40px;
        .group-name{
          width: 900px;
          padding-bottom: 15px;
        }
        .group-name p{
          font-size:20px;
        }
        .bottom-short-text{
          height: 20px;
          width: 900px;
        }
        .bottom-short-text p{
          font-size: 12px;
          color: #999999;
        }
      }
    }
    .right-top-contents p{
      margin:0;
    }
    .right-center-contents{
      height: calc(100vh - 230px);
      .text.contents{
        padding:46px 0 0 40px;
        .name{
          font-size:16px;
          color:#434A54;
          float:left;
        }
        .day{
          color: $sub-text-color;
          font-size:12px;
          float:left;
          margin-left:10px;
        }
        .text-form{
          font-size:14px;
          color:#434A54;
          margin-bottom: 40px;
          clear:both;
        }
      }
    }
    .right-bottom-contents{
      height:90px;
      background-color: #AAAAAA;
      .form__message{
      height: 44px;
      width: 80%;
      margin:20px 0 0 40px;
      font-size: 18px;
      padding-left: 18px;
      }
      .form_mask.image{
        margin-left: -50px;
      }
      .hidden{display:none;
      }

      .form__submit{
        width: 100px;
        font-size: 16pt;
        text-align: center;
        background: #38AEF0;
        color: white;
        line-height: 1em;
        height: 50px;
        margin: 0 40px 0 50px;
        padding: 0 20px 0;
      }
    }
  }
}
